/*.default_color_text{color: #546e7a !important}*/

.parallax-container {
	height: 60vh;
	margin-left: -3em; 
	margin-right: -3em;
}

.tall {
	height: 90vh !important;
}

.blur {
	-webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.parallax {
	height: 60vh;
	margin-left: -3em; 
	margin-right: -3em;
}

#form_button:hover {
	color: black;
}

#logo-container {
	font-size: 2em;
}

.parallax img {
  -webkit-filter: blur(2.5px);
  -moz-filter: blur(2.5px);
  -o-filter: blur(2.5px);
  -ms-filter: blur(2.5px);
  filter: blur(2.5px);
}

#background_color {
	background-color: #546e7a;
	height: 40vh;
}

#background_pic {
	background-image: url("/static/images/skyline.jpg");
/*	-webkit-filter: blur(2.5px);
	-moz-filter: blur(2.5px);
	-o-filter: blur(2.5px);
	-ms-filter: blur(2.5px);
	filter: blur(2.5px);
*/}

#blue-green {
	color:#26a69a;
}

footer.page-footer {
	margin-top: 0px;
}

.section {
	padding-bottom: 0em;
}

#username {
	font-style: italic;
}

#results_card {
	margin-left: 1em;
	margin-top: 1em;
}

#image_height {
	margin-top: .75em;
	height: 30vh;
}

#bold_hover:hover {
	font-weight: bold;
}

#bigger {
	font-size: 2em;
	font-weight: bold;
}

.error {
	color:red;
}











