<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Relator</title>

<!-- 	<link rel="icon" href="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiaxfuq2K_MAhUBFz4KHYmTDfsQjRwIBw&url=http%3A%2F%2Fwww.freefavicon.com%2Ffreefavicons%2Fnetwork%2Falpha.php%3Falpha%3Dh&bvm=bv.120551593,d.cWw&psig=AFQjCNGoP3ZDpXVFqERe6EZflllqcCYCOA&ust=1461876441219764" type="image/gif" sizes="16x16">
 -->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <script src= "https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
	
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

	<script src="{% static 'js/django_ajax.js'%}"></script>
	<script src="{% static 'js/main.js'%}"></script>

</head>
<body>



<!-- Dropdown Structure  for logged in user -->
<ul id='dropdown1' class='dropdown-content'>
	<!-- <li><a id="blank" class="black-text text-lighten-1" href="#"></a></li> -->
	<li><a id="searches" class="black-text text-lighten-1" href="#">My Searches</a></li>
	<li class="divider"></li>
	<li><a id="logout" class="black-text text-lighten-1" href="#">Logout</a></li>
</ul>

<nav class="white" role="navigation">
	<div id="nav" class="nav-wrapper container">
		<a id="logo-container" class="black-text text-lighten-1" href="/" class="brand-logo">Realtor</a>
			<ul class="right hide-on-med-and-down">
				<li><a id="search" class="black-text text-lighten-1 form_button" href="#">Find Neighborhood</a></li>
					{% if user.username %}
						<li><a id="username" class="dropdown-button black-text text-lighten-1" href="#" data-activates='dropdown1'> {{ user.username }}</a></li>
					{% else %}
						<li><a id="register" class="black-text text-lighten-1" href="#">Register</a></li>
						<li><a id="login" class="black-text text-lighten-1" href="#">Login</a></li>
					{% endif %}
			</ul>

<!-- 			<ul id="nav-mobile" class="side-nav">
				<li><a id="search" class="black-text text-lighten-1 form_button" href="#">Find Neighborhood</a></li>
				<li><a id="register" class="black-text text-lighten-1" href="#">Register</a></li>
				<li><a id="login" class="black-text text-lighten-1" href="#">Login</a></li>
			</ul>

		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
 -->	</div>
</nav>


	<div id="answer_div">

        {% block content %}
        <!-- all content from other HTML pages go here -->
        {% endblock content %}

	</div>

	{% block footer %}
        <!-- all footer HTML goes here -->
    {% endblock footer %}

	{% block templates %}
        <!-- all content from other HTML pages go here -->
    {% endblock templates %}
	
	
</body>
</html>

