<script id="fbnav" type="mustache/template">
<a id="logo-container" class="black-text text-lighten-1" href="/" class="brand-logo">Neighborhood GPS</a>
	<ul class="right hide-on-med-and-down">
				<li><a id="search" class="black-text text-lighten-1 form_button" href="#">Find Neighborhood</a></li>
				<li><a id="username" class="dropdown-button black-text text-lighten-1" href="#" data-activates='dropdown1'></a></li>
				<li><a id="fblogout" class="black-text text-lighten-1" onclick="fbLogoutUser();">Logout</a></li>
</script>