{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<!-- put some cool revolving pictures with neighborhood names on the front
have about us page, or maybe put it at the bottom,
cool paralax stuff - look at politipic
 -->

<div id="index-banner" class="parallax-container">

<!-- slider -->
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="http://lorempixel.com/580/250/nature/2"> <!-- random neighborhood -->
        <div class="caption center-align">
          <h3 id="title" class="black-text">Realtor</h3>
          <h5 class="light grey-text text-lighten-3">Neighborhood Recommendations for the Modern New Yorker</h5>
          	<br><br><br>
          		
          		<div class="row center">
					<a href="/form" class="form_button btn-large waves-effect waves-light blue-grey">Get Started</a>
				</div>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/3"> <!-- random neighborhood -->
        <div class="caption center-align">
          <h3 id="title" class="black-text">Realtor</h3>
          <h5 class="light grey-text text-lighten-3">Neighborhood Recommendations for the Modern New Yorker</h5>
          	<br><br><br>
          		
          		<div class="row center">
					<a href="/form" class="form_button btn-large waves-effect waves-light blue-grey">Get Started</a>
				</div>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/4"> <!-- random neighborhood -->
        <div class="caption center-align">
          <h3 id="title" class="black-text">Realtor</h3>
          <h5 class="light grey-text text-lighten-3">Neighborhood Recommendations for the Modern New Yorker</h5>
          	<br><br><br>
          		
          		<div class="row center">
					<a href="/form" class="form_button btn-large waves-effect waves-light blue-grey">Get Started</a>
				</div>
        </div>
      </li>
            <li>
        <img src="http://lorempixel.com/580/250/nature/2"> <!-- random neighborhood -->
        <div class="caption center-align">
          <h3 id="title" class="black-text">Realtor</h3>
          <h5 class="light grey-text text-lighten-3">Neighborhood Recommendations for the Modern New Yorker</h5>
          	<br><br><br>
          		
          		<div class="row center">
					<a href="/form" class="form_button btn-large waves-effect waves-light blue-grey">Get Started</a>
				</div>
        </div>
      </li>
    </ul>

  </div>
</div>



<div class="container">
<div class="section">

  <!--   Icon Section   -->
	<div class="row">

		<div class="col s12 m4">
			<div class="icon-block">
				<h2 class="center blue-grey-text"><i class="material-icons">flash_on</i></h2>
				<h5 class="center">Speeds up development</h5>

				<p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
			</div>
		</div>

		<div class="col s12 m4">
			<div class="icon-block">
				<h2 class="center blue-grey-text"><i class="material-icons">group</i></h2>
				<h5 class="center">User Experience Focused</h5>

				<p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
			</div>
		</div>

		<div class="col s12 m4">
			<div class="icon-block">
				<h2 class="center blue-grey-text"><i class="material-icons">settings</i></h2>
				<h5 class="center">Easy to work with</h5>

				<p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
			</div>
		</div>

		</div>
	</div>
</div>


<div class="parallax-container valign-wrapper">
		<div class="container">
			<div class="row left">
				<h5 class="header col s12 m12 l12 white-text">Like Having Your Own <br> Personal Realtor</h5>
			</div>
		</div>

	<div class="parallax">
		<img src="{% static "images/hotel.jpg" %}">
	</div>
</div>


<div id-"about" class="container">
	<div class="section">
		<div class="row">
			<div class="col s12 center">
				<h3><i class="mdi-content-send blue-grey-text"></i></h3>
				<h4>How We Did It</h4>
				<p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
			</div>
		</div>
	</div>
</div>


<div class="parallax-container valign-wrapper">
		<div class="container">
			<div class="row left">
				<h5 class="header col s12 white-text">Another Catchy Slogan</h5>
			</div>
		</div>

	<div class="parallax">
		<img src="{% static "images/central_park.jpg" %}">
	</div>
</div>


<div class="container">
	<div class="section">
		<div class="row">
			<div class="col s12 center">
				<h3><i class="mdi-content-send blue-grey-text"></i></h3>
				<h4>About The Team</h4>

				<div class="col s12 m3 l3">
					<div class="icon-block">
						<h2 class="center blue-grey-text"><i class="material-icons">flash_on</i></h2>
						<h5 class="center">Name</h5>

						<p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
					</div>
				</div>

				<div class="col s12 m3 l3">
					<div class="icon-block">
						<h2 class="center blue-grey-text"><i class="material-icons">flash_on</i></h2>
						<h5 class="center">Name</h5>

						<p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
					</div>
				</div>

				<div class="col s12 m3 l3">
					<div class="icon-block">
						<h2 class="center blue-grey-text"><i class="material-icons">group</i></h2>
						<h5 class="center">Name</h5>

						<p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
					</div>
				</div>

				<div class="col s12 m3 l3">
					<div class="icon-block">
						<h2 class="center blue-grey-text"><i class="material-icons">settings</i></h2>
						<h5 class="center">Name</h5>

						<p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock content %}

{% block footer %}
<footer class="page-footer blue-grey lighten-1">

	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Company Bio</h5>
				<p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>

				</div>
					<div class="col l3 s12">
					<h5 class="white-text">Contact</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>

				<div class="col l3 s12">
					<h5 class="white-text">Social</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>

	<div class="footer-copyright">
		<div class="container">
			<div class="row align left">
				Copyright: <a class="blue-grey-text text-lighten-3" href="#">Narwhals 2016</a>
			</div>

			<div class="row align right">
				Made with help from:  <a class="blue-grey-text text-lighten-3" href="#">Byte Academy Staff</a>
			</div>
		</div>
	</div>

</footer>

{% endblock footer %}


{% block templates %}

	{% include "search.html"%}
	{% include "register.html"%}
	{% include "login.html"%}
	{% include "results.html"%}
	{% if user.is_authenticated and isgraduated == True %}
	<script type="text/javascript">
	function check_college() {
	document.getElementById("college_plus").checked = true;
	}</script>
	{% endif %}
	{% if user.is_authenticated and gender == "male" %}
	<script type="text/javascript">
	function check_gender() {
	document.getElementById("male").checked = true;
	}</script>
	{% else %}
	<script type="text/javascript">
	function check_gender() {
	document.getElementById("female").checked = true;
	}</script>
	{% endif %}
	{% if user.is_authenticated and age == "20_24" %}
	<script type="text/javascript">
	function check_age() {
	document.getElementById("20_24").checked = true;
	}</script>
	{% elif user.is_authenticated and age == "0_19" %}
	<script type="text/javascript">
	function check_age() {
	document.getElementById("0_19").checked = true;
	}</script>
	{% elif user.is_authenticated and age == "25_34" %}
	<script type="text/javascript">
	function check_age() {
	document.getElementById("25_34").checked = true;
	}</script>
	{% elif user.is_authenticated and age == "35_54" %}
	<script type="text/javascript">
	function check_age() {
	document.getElementById("35_54").checked = true;
	}</script>
	{% elif user.is_authenticated and age == "55_64" %}
	<script type="text/javascript">
	function check_age() {
	document.getElementById("55_64").checked = true;
	}</script>
	{% elif user.is_authenticated and age == "65+" %}
	<script type="text/javascript">
	function check_age() {
	document.getElementById("65+").checked = true;
	}</script>
	{% endif %}


	

{% endblock templates %}



