{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<!-- put some cool revolving pictures with neighborhood names on the front
have about us page, or maybe put it at the bottom,
cool paralax stuff - look at politipic
 -->

<div id="index-banner" class="parallax-container">

<!-- slider -->
  <div class="slider">
    <ul class="slides">
      <li>
        <img id="small_blur" src="{% static "images/bridge.jpg" %}"> <!-- random neighborhood -->
        <div class="caption center-align">
          <h2 id="title" class="black-text">Mapper NYC</h2>
          <h5 class="light white-text">Neighborhood Recommendations for the Modern New Yorker</h5>
          	<br><br><br>
          		
          		<div class="row center">
					<a href="/form" class="form_button btn-large waves-effect waves-light blue-grey">Get Started</a>
				</div>
        </div>
      </li>
      <li>
        <img id="small_blur" src="{% static "images/brownstones.jpg" %}"> <!-- random neighborhood -->
        <div class="caption center-align">
          <h2 id="title" class="black-text">Mapper NYC</h2>
          <h5 class="light white-text">Neighborhood Recommendations for the Modern New Yorker</h5>
          	<br><br><br>
          		
          		<div class="row center">
					<a href="/form" class="form_button btn-large waves-effect waves-light blue-grey">Get Started</a>
				</div>
        </div>
      </li>
      <li>
        <img id="small_blur" src="{% static "images/central_park.jpg" %}"> <!-- random neighborhood -->
        <div class="caption center-align">
          <h2 id="title" class="black-text">Mapper NYC</h2>
          <h5 class="light white-text">Neighborhood Recommendations for the Modern New Yorker</h5>
          	<br><br><br>
          		
          		<div class="row center">
					<a href="/form" class="form_button btn-large waves-effect waves-light blue-grey">Get Started</a>
				</div>
        </div>
      </li>
            <li>
        <img id="small_blur" src="{% static "images/hotel.jpg" %}"> <!-- random neighborhood -->
        <div class="caption center-align">
          <h2 id="title" class="black-text">Mapper NYC</h2>
          <h5 class="light white-text">Neighborhood Recommendations for the Modern New Yorker</h5>
          	<br><br><br>
          		
          		<div class="row center">
					<a href="/form" class="form_button btn-large waves-effect waves-light blue-grey">Get Started</a>
				</div>
        </div>
      </li>
    </ul>

  </div>
</div>



<div class="container">
<div class="section">

  <!--   Icon Section   -->
	<div class="row">

		<div class="col s12 m4">
			<div class="icon-block">
				<h2 class="center blue-grey-text"><i class="material-icons">flash_on</i></h2>
				<h5 class="center">Speeds up Home Searching</h5>
				
				<p class="light center">Not sure which New York neighborhood is right for you? Not to worry, we have done the research for you. Just enter a few things about yourself and let our search engine find the perfect neighborhood for you.</p>
			</div>
		</div>

		<div class="col s12 m4">
			<div class="icon-block">
				<h2 class="center blue-grey-text"><i class="material-icons">equalizer</i></h2>
				<h5 class="center">Data Driven Results</h5>

				<p class="light center">Our proprietary database is comprised of information from diverse data sets. We curated information acorss different categories using Government Cencus Data, as well as Google, Yelp, StreetEasy, NYC Open Data and other APIs.</p>
			</div>
		</div>

		<div class="col s12 m4">
			<div class="icon-block">
				<h2 class="center blue-grey-text"><i class="material-icons">grade</i></h2>
				<h5 class="center">Easy to Work With</h5>

				<p class="light center">Your future neighborhood is just a few clicks away. With easy to use interface and a simple one page design, this site was developed with users in mind. Let our step by step form guide you to a future home in NYC.</p>
			</div>
		</div>

		</div>
	</div>
</div>


<div class="parallax-container valign-wrapper">
		<div class="container">
			<div class="row left">
				<h5 id="shift" class="header col s12 m12 l12 white-text">Like Having Your Own <br> Personal Real Estate Agent</h5>
			</div>
		</div>

	<div class="parallax">
		<img src="{% static "images/hotel.jpg" %}">
	</div>
</div>


<div id-"about" class="container">
	<div class="section">
		<div class="row">
			<div class="col s12 center">
				<h3><i class="mdi-content-send blue-grey-text"></i></h3>
				<h4>How We Did It</h4>
					<p class="left-align light">

					</p>
			</div>
				<h4 class="center">Technologies Used</h4>
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center blue-grey-text"><i class="material-icons">polymer</i></h2>
						<p class="light center">Python, Django, Pandas, NumPy, SQL, PostgressSQL, REST, Oauth, AJAX</p>
					</div>
				</div>
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center blue-grey-text"><i class="material-icons">code</i></h2>
						<p class="light center">JavaScript, jQuery, HTML, CSS, Materialize CSS, Mustache, D3 and C3</p>
					</div>
				</div>
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center blue-grey-text"><i class="material-icons">settings</i></h2>
						<p class="light center">Google Distance Matrix API, Google Maps API, Yelp API, StreetEasy API, NYC Open Data, Cencus Data</p>
					</div>
				</div>

		</div>
	</div>
</div>


<div class="parallax-container valign-wrapper">
		<div class="container">
			<div class="row left">
				<h5 id="shift" class="header col s12 white-text">Your future neighborhood is just a few clicks away</h5>
			</div>
		</div>

	<div class="parallax">
		<img src="{% static "images/central_park.jpg" %}">
	</div>
</div>


<div class="container">
	<div class="section">
		<div class="row">
			<div class="col s12 center">
				<h3><i class="mdi-content-send blue-grey-text"></i></h3>
				<h4>About The Team</h4>

				<div class="col s12 m3 l3">
					<div class="icon-block">
						<br>	
						<h5 class="center"><span class="blue-grey-text">Nat</span><br>Greenwald</h5>
						<p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
					</div>
				</div>

				<div class="col s12 m3 l3">
					<div class="icon-block">
						<br>	
						<h5 class="center"><span class="blue-grey-text">Jack</span><br>Anteby</h5>

						<p class="light">Is a Brooklyn native, and Baruch College Gradute. Growing up, Jack was always fascinated by how things worked and spent most of his time building or taking things apart. After pursuing a Computer Information Systems degree and working in the data industry, his love for technology led him to Byte Academy in early 2016 to further his technichal career.</p>
					</div>
				</div>

				<div class="col s12 m3 l3">
					<div class="icon-block">
						<br>	
						<h5 class="center"><span class="blue-grey-text">Rob</span><br>Swallow</h5>

						<p class="light">Is a soon to be grad of Rutgers University. When he's not playing around with python, pandas, or any other deadly animal, you can find him either watching his beloved Red Bulls, Man Utd, or lifting things up and putting them down.</p>
					</div>
				</div>

				<div class="col s12 m3 l3">
					<div class="icon-block">
						<br>	
						<h5 class="center"><span class="blue-grey-text">Sulekha</span><br>Cheruvu</h5>

						<p class="light">A Stevens institute of Technology graduate, Sulekha worked in Insurance and telecom companies for many years, during which time she grew from junior developer to a project leader as well as working as an operations manager and a business analyst. Her passion towards coding and developing brought her to Byte Academy in order to bridge the gap in my technical skills.</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock content %}

{% block footer %}
<footer class="page-footer blue-grey lighten-1">

	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Company Bio</h5>
				<p class="grey-text text-lighten-4">We are a team of bootcamp students who created this site as our final project, in under a month. We had a blast building and developing it. We appreciate your support and feedback and hope you enjoy our product!</p>
				</div>

					<div class="col l1 m1 s1">
						<!-- this is just a spacer -->
						<p></p>
					</div>

					<div class="col l2 s12">
					<h5 class="white-text">Contact</h5>
					<ul>
						<li><a class="white-text" id="grey_hover" href="http://www.linkedin.com/in/nathanielgreenwald">Nat</a></li>
						<li><a class="white-text" id="grey_hover" href="http://www.jackanteby.com">Jack</a></li>
						<li><a class="white-text" id="grey_hover" href="mailto:rswallow23@gmail.com">Rob</a></li>
						<li><a class="white-text" id="grey_hover" href="mailto:sucashpawari@gmail.com">Sulekha</a></li>
					</ul>
				</div>

				<div class="col l3 s12">
					<h5 class="white-text">Social</h5>
					<ul>
						<li><a class="white-text" id="grey_hover" href="https://github.com/narwhals-2016/realtor">GitHub</a></li>
						<li><a class="white-text" href="#">Facebook</a></li>
						<li><a class="white-text" href="#">LinkedIn</a></li>
						<li><a class="white-text" href="#">Twitter</a></li>
					</ul>
				</div>
			</div>
		</div>

	<div class="footer-copyright">
		<div class="container">
			<div class="row align left">
				Copyright: <a class="blue-grey-text text-lighten-3" href="#">Narwhals 2016</a>
			</div>

			<div class="row align right">
				Made with help from:  <a class="blue-grey-text text-lighten-3" href="#">Byte Academy Staff</a>
			</div>
		</div>
	</div>

</footer>

{% endblock footer %}


{% block templates %}

	{% include "search.html"%}
	{% include "register.html"%}
	{% include "login.html"%}
	{% include "results.html"%}
	{% include "results_header.html"%}

{% endblock templates %}

{% block code %}

	{% if user.is_authenticated and isgraduated == "True" %}
	<script type="text/javascript" class="school">
	function check_college() {
	document.getElementById("college_plus").checked = true;
	}</script>
	{% elif user.is_authenticated and isgraduated == "college_student" %}
	<script type="text/javascript" class="school">
	function check_college() {
	document.getElementById("in_school_toggle").checked = true;
	document.getElementById("college").checked = true;
	}</script>
	{% elif user.is_authenticated and isgraduated == "hs_student" %}
	<script type="text/javascript" class="school">
	function check_college() {
	document.getElementById("in_school_toggle").checked = true;
	document.getElementById("hs").checked = true;
	}</script>
	{% elif user.is_authenticated and isgraduated == "hs_grad" %}
	<script type="text/javascript" class="school">
	function check_college() {
	document.getElementById("hs_plus").checked = true;
	}</script>
	{% endif %}
	{% if user.is_authenticated and gender == "male" %}
	<script type="text/javascript" class="gender">
	function check_gender() {
	document.getElementById("male").checked = true;
	}</script>
	{% elif user.is_authenticated and gender == "female" %}
	<script type="text/javascript" class="gender">
	function check_gender() {
	document.getElementById("female").checked = true;
	}</script>
	{% endif %}
	{% if user.is_authenticated and age == "20_24" %}
	<script type="text/javascript" class="age">
	function check_age() {
	document.getElementById("20_24").checked = true;
	}</script>
	{% elif user.is_authenticated and age == "0_19" %}
	<script type="text/javascript" class="age">
	function check_age() {
	document.getElementById("0_19").checked = true;
	}</script>
	{% elif user.is_authenticated and age == "25_34" %}
	<script type="text/javascript" class="age">
	function check_age() {
	document.getElementById("25_34").checked = true;
	}</script>
	{% elif user.is_authenticated and age == "35_54" %}
	<script type="text/javascript" class="age">
	function check_age() {
	document.getElementById("35_54").checked = true;
	}</script>
	{% elif user.is_authenticated and age == "55_64" %}
	<script type="text/javascript" class="age">
	function check_age() {
	document.getElementById("55_64").checked = true;
	}</script>
	{% elif user.is_authenticated and age == "65+" %}
	<script type="text/javascript" class="age">
	function check_age() {
	document.getElementById("65+").checked = true;
	}</script>
	{% endif %}


{% endblock code %}



