<script id="login-template" type="x-tmpl-mustache/template">
<div class="parallax-container tall">
	<div class="container">
	<br><br>
	<h1 class="header center white-text">Login</h1>
		<div class="row center">
			<form action="" id='login_form' method="POST">
			{% with hash="#" open="{{" close="}}"%}
            {% csrf_token %}
			<div class="row">
	            {% for field in login_form %}
	                <div class="input-field col s11 white-text {{open}}{{hash}}{{field.html_name}}{{close}}error{{open}}/{{field.html_name}}{{close}}">
			        	<i class="material-icons prefix">{{open}}{{field.label_tag_id}}{{close}}</i>
	                    {{ field }}
	                    <label for="{{field.label_tag_id}}" {{open}}{{hash}}{{field.html_name}}{{close}}data-error="{{open}} . {{close}}"{{open}}/{{field.html_name}}{{close}}>{{field.label}}</label>
	                </div>
	            {% endfor %}
	         </div>
            {% endwith %}
            
            <ul>

            	<li><input class="btn waves-effect waves-light" id="submit_login_button" type="submit" name="action" value= "Login" <i class="material-icons right"></i></li>
            	<li><h6 class="header center white-text">or</h6></li>
            	<li><div class="social-wrap c" id="wrapper">
	        		<button class="facebook"><a href="/accounts/facebook/login/?process=login" id="fb_link">Login With Facebook</a></button>
	        	</div></li>
            </ul>
	        </form>
	          <br>
	        
	        	 
	        </div>
		<div class="parallax blur tall" id="background_pic">
		</div>
	</div>
	</div>
</div>
    </script>
    