

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Login</a></li>
  <li><a href="#!">Login with Facebook</a></li>
</ul>
<nav class="white" role="navigation">
  <div class="nav-wrapper container" id="nav">
    <a id="logo-container" class="black-text text-lighten-1" href="/" class="brand-logo">Mapper</a>
    <ul class="right hide-on-med-and-down">
      <li><a id="search" class="black-text text-lighten-1 form_button" href="#">Find Neighborhood</a></li>
      <li><a id="register" class="black-text text-lighten-1" href="#">Register</a></li>
      <!-- Dropdown Trigger -->
      <li><a id="login" class="dropdown-button black-text text-lighten-1" href="#!" data-activates="dropdown1">Login<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<nav class="white" role="navigation">
  <div id="nav" class="nav-wrapper container">
    <a id="logo-container" class="black-text text-lighten-1" href="/" class="brand-logo">Mapper</a>
      <ul class="right hide-on-med-and-down">
        <li><a id="search" class="black-text text-lighten-1 form_button" href="#">Find Neighborhood</a></li>
            <li><a id="register" class="black-text text-lighten-1" href="#">Register</a></li>
            <li><a id="login" class="black-text text-lighten-1" href="#">Login</a></li>
         
      </ul>