{%verbatim%}

	<script id="form_template" type="x-tmpl-mustache">

<div id= "ja_search">

	<div class="parallax-container" id="background_pic">

		<div class="section no-pad-bot">
			<div class="container">
				<br><br>
				<h1 id="smaller" class="header center white-text">Neighborhood Search</h1>
					<div class="row center">
						<h5 id="shift" class="header col s12 white-text">Let Us Help You Find The Perfect Place to Live</h5>
					</div>
				<br><br>
			</div>
		</div>
	</div>

    <form action="" id='search_form' method="POST">

	<div class="section white">
	  <div class="row">
	  <div class="container">
		<h3 id="blue-green">Personal Information</h3>

		    <div class="col s12">

		    	<div class="col s4">
			      	<p>Age:</p>
			      	<p>
					  <input type="radio" class="with-gap" id="0_19" name="age" value="0_19" />
					  <label for="0_19">0-19</label>
					</p>
			      	<p>
					  <input type="radio" class="with-gap" id="20_24" name="age" value="20_24" />
					  <label for="20_24">20-24</label>
					</p>
			      	<p>
					  <input type="radio" class="with-gap" id="25_34" name="age" value="25_34" />
					  <label for="25_34">25-34</label>
					</p>
			      	<p>
					  <input type="radio" class="with-gap" id="35_54" name="age" value="35_54" />
					  <label for="35_54">35-54</label>
					</p>
					<p>
					  <input type="radio" class="with-gap" id="55_64" name="age" value="55_64" />
					  <label for="55_64">55-64</label>
					</p>
			      	<p>
					  <input type="radio" class="with-gap" id="65+" name="age" value="65+" />
					  <label for="65+">65+</label>
					</p><br>
		    	</div>

				<div class="col s4">
					<p>Gender</p>
					<p>
					<input type="radio" class="with-gap" name="gender" value="male" id="male" />
					<label for="male">Male</label>
					</p>
					<p>
					<input type="radio" class="with-gap" name="gender" value="female" id="female" />
					<label for="female">Female</label>
					</p><br>

					<p>Children</p>			
					<p>
				      <input class="with-gap" name="number_of_children" value="none" type="radio" id="children_none"  />
				      <label for="children_none">None</label>
				    </p>
				    <p>
				      <input class="with-gap" name="number_of_children" value="1_plus" type="radio" id="children_1_plus"  />
				      <label for="children_1_plus">1 or More</label>
				    </p>
				    <p>
				      <input class="with-gap" name="number_of_children" value="3_plus" type="radio" id="children_3_plus"  />
				      <label for="children_3_plus">3 or More</label>
				    </p><br>
				</div>

				<div class="col s4">
					<!-- want this to be conditional, if the switch is off you show education levels, if it is on you show options for current education -->
				    <p>Currently in School</p>
					  <div class="switch">
					    <label>
					      No
					      <input name="currently_in_school_checkbox" id="CHECKBOX" type="checkbox">
					      <span class="lever" id="in_school_toggle"></span>
					      Yes
					    </label>
					  </div><br>

					<div id="current_edu_level" style="display:none">
						<p>Current Education Level</p>
						<p>
					      <input class="with-gap" name="current_edu_level" value="elementary" type="radio" id="elementary"  />
					      <label for="elementary">Elementary School Student</label>
					    </p>
						<p>
					      <input class="with-gap" name="current_edu_level" value="hs" type="radio" id="hs"  />
					      <label for="hs">High School Student</label>
					    </p>
					    <p>
					      <input class="with-gap" name="current_edu_level" value="college" type="radio" id="college"  />
					      <label for="college">College Student</label>
					    </p>
					</div>

					<div id="highest_edu_level">
					   <p>Highest Education Level Achieved</p>
						<p>
					      <input class="with-gap" name="highest_edu_level" value="hs_plus" type="radio" id="hs_plus"  />
					      <label for="hs_plus">High School and over</label>
					    </p>
					    <p>
					      <input class="with-gap" name="highest_edu_level" value="college_plus" type="radio" id="college_plus"  />
					      <label for="college_plus">College and over</label>
					    </p><br>
					</div>

					<p>Marital Status</p>
					  <div class="switch">
					    <label>
					      Single
					      <input name="marital_status_checkbox" type="checkbox">
					      <span class="lever"></span>
					      Married
					    </label>
					  </div><br>
				</div>

				<div class="col s11">
					<p>Household Income Level (in thousands)</p>
				    <p class="range-field">
				      <input name="income_level_range" type="range" id="income" min="20" max="250" />
				    </p><br>
				</div>	
			</div>
			</div>
		</div>

	<div class="parallax-container" id="background_color"></div>

	<div class="section white">
	  <div class="row">
	  <div class="container">
		<h3 id="blue-green">Home Preferences</h3>

		    <div class="col s12">

		    	<div class="col s4">
			      	<p>Type:</p>
			      	<p>
					  <input type="checkbox" name="number_of_units" value="0_2" id="0_2" />
					  <label for="0_2">Single Unit</label>
					</p>
			      	<p>
					  <input type="checkbox" name="number_of_units" value="3_10" id="3_10" />
					  <label for="3_10">Small Building</label>
					</p>
			      	<p>
					  <input type="checkbox" name="number_of_units" value="10+" id="10+" />
					  <label for="10+">Larger Building</label>
					</p><br>

					<p>Type of Ownership</p>
					<p>
				      <input class="with-gap" name="ownership_type" value="purchase" type="radio" id="purchase"  />
				      <label for="purchase">Purchase</label>
				    </p>
					<p>
				      <input class="with-gap" name="ownership_type" value="rent" type="radio" id="rent"  />
				      <label for="rent">Rent</label>
				    </p><br>
		    	</div>

				<div class="col s4">
					<p>Number of Rooms</p>
					<p>
					<input type="radio" class="with-gap" name="number_of_rooms" value="3_minus" id="1_room" />
					<label for="1_room">1</label>
					</p>
					<p>
					<input type="radio" class="with-gap" name="number_of_rooms" value="3_minus" id="2_room" />
					<label for="2_room">2</label>
					</p>
					<p>
					<input type="radio" class="with-gap" name="number_of_rooms" value="3_minus" id="3_5_room" />
					<label for="3_5_room">3 to 5</label>
					</p>
					<p>
					<input type="radio" class="with-gap" name="number_of_rooms" value="3_minus" id="6_more" />
					<label for="6_more">6 or more</label>
					</p><br><br><br>

					<p id="price_range_title">Price Range</p>
					<!-- also want this to be able to change scales depending on buy or rent choice -->
				    <p class="range-field">
				      <input name="price_range" type="range" id="price_range" min="500" max="2000" />
				    </p><br>
				</div>

				<div class="col s4">
			      	<p>Building Age:</p>
			      	<p>
					  <input type="radio" class="with-gap" name="building_age" value="pre_1970" id="pre_1970" />
					  <label for="pre_1970">Before 1970</label>
					</p>
			      	<p>
					  <input type="radio" class="with-gap" name="building_age" value="post_1970" id="post_1970" />
					  <label for="post_1970">Between 1970-2000</label>
					</p>
			      	<p>
					  <input type="radio" class="with-gap" name="building_age" value="2000+" id="2000+" />
					  <label for="2000+">After 2000</label>
					</p><br>

					<!-- want this to be conditional, if the switch is off you show education levels, if it is on you show options for current education -->
				    <p>Vehicles</p>
					  <div class="switch">
					    <label>
					      None
					      <input name="number_of_vehicles_checkbox" type="checkbox">
					      <span class="lever"></span>
					      1 or More
					    </label>
					  </div><br>
				</div>
			</div>
			</div>
		</div>

	<div class="parallax-container" id="background_color"></div>

	<div class="section white">
	  <div class="row">
	  <div class="container">
		<h3 id="blue-green">Neighborhood Qualities</h3>

		    <div class="col s12">

		    	<div class="col s4">
			      	<p>Commute:</p>
			      	<p>
			          <input name="commute_address" placeholder="Work Address" id="work_address" type="text" class="validate">
					</p>
					<p>
				      <input class="with-gap" name="commute_type" value="walk" type="radio" id="walk"  />
				      <label for="walk">Walk/Bike</label>
				    </p>
					<p>
				      <input class="with-gap" name="commute_type" value="transit" type="radio" id="transit"  />
				      <label for="transit">Public Transit</label>
				    </p>
				    <p>
				      <input class="with-gap" name="commute_type" value="drive" type="radio" id="drive"  />
				      <label for="drive">Drive</label>
				    </p><br>

					<p>Commute Time (Minutes)</p>
				    <p class="range-field">
				      <input name="commute_time_range" type="range" id="income" min="5" max="100" />
				    </p><br>
		    	</div>

				<div class="col s4">
					<p>Interested School Level:</p>
			      	<p>
					  <input type="checkbox" name="school_level" value="school_k-" id="school_k-" />
					  <label for="school_k-">Early Childhood</label>
					</p>
			      	<p>
					  <input type="checkbox" name="school_level" value="school_1-8" id="school_1-8" />
					  <label for="school_1-8">Grades 1-8</label>
					</p>
					<p>
					  <input type="checkbox" name="school_level" value="school_hs" id="school_hs" />
					  <label for="school_hs">High School</label>
					</p>
			      	<p>
					  <input type="checkbox" name="school_level" value="school_none" id="school_none" />
					  <label for="school_none">None</label>
					</p><br>

					<p>Boroughs:</p>
			      	<p>
					  <input type="checkbox" name="boroughs" value="Brooklyn" id="Brooklyn" />
					  <label for="Brooklyn">Brooklyn</label>
					</p>
			      	<p>
					  <input type="checkbox" name="boroughs" value="Bronx" id="Bronx" />
					  <label for="Bronx">Bronx</label>
					</p>
					<p>
					  <input type="checkbox" name="boroughs" value="Queens" id="Queens" />
					  <label for="Queens">Queens</label>
					</p>
			      	<p>
					  <input type="checkbox" name="boroughs" value="Manhattan" id="Manhattan" />
					  <label for="Manhattan">Manhattan</label>
					</p><br>


			      	<p>Schools Quality:</p>
			      	<p>
				      <input class="with-gap" name="school_quality_importance" value="not_high" type="radio" id="school_not_high"  />
					  <label for="school_not_high">Not Important</label>
				    </p>
					<p>
				      <input class="with-gap" name="school_quality_importance" value="high" type="radio" id="school_high"  />
					  <label for="school_high">Important</label>
				    </p>
				    <p>
				      <input class="with-gap" name="school_quality_importance" value="very_high" type="radio" id="school_very_hihg"  />
					  <label for="school_very_hihg">Extremely Important</label>
				    </p><br>
				</div>

				<div class="col s4">
					<p>Night Life:</p>
			      	<p>
				      <input class="with-gap" name="night_life_importance" value="not_high" type="radio" id="night_life_not_high"  />
					  <label for="night_life_not_high">Not Important</label>
				    </p>
					<p>
				      <input class="with-gap" name="night_life_importance" value="high" type="radio" id="night_life_high"  />
					  <label for="night_life_high">Important</label>
				    </p>
				    <p>
				      <input class="with-gap" name="night_life_importance" value="very_high" type="radio" id="night_life_very_hihg"  />
					  <label for="night_life_very_hihg">Extremely Important</label>
				    </p><br>

				    <p>Noise Level</p>
					  <div class="switch">
					    <label>
					      Less Important
					      <input name="noise_level_checkbox" type="checkbox">
					      <span class="lever"></span>
					      More Important
					    </label>
					  </div><br>

					<p>Crime Level</p>
					  <div class="switch">
					    <label>
					      Less Important
					      <input name="crime_level_checkbox" type="checkbox">
					      <span class="lever"></span>
					      More Important
					    </label>
					  </div><br>
				</div>
			</div>
			</div>
		</div>

		<div class="row">
		<div class="container">
			<div class="col s4">
				<br><br>
			</div>
			<div class="col s4">	
				<button class="btn waves-effect waves-light blue-green" type="submit" name="action">Submit
				    <i class="material-icons right">send</i>
			    </button>
			    <br><br>
			</div>
			<div class="col s4"></div>
		</div>
		</div>

    </div>
    </form>
  </div>

	</script>
{%endverbatim%}

